@import 'tailwindcss';
@tailwind utilities;

/* Estilizar a barra de rolagem */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor do fundo */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3490dc; /* Cor do scroll */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2779bd; /* Cor quando passa o mouse */
}
